@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Bungee+Shade&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Trispace', sans-serif;
    /*  
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Trispace', sans-serif;
    */

}


.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(83, 67, 67);
    color: aliceblue;
    z-index: 2;
}

.showcase header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 50px;
    height: 50px;
    background: url(./images/menu-icon.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: pointer;

}

.toggle.active {
    background: url(./images/cross.png);
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: center;   
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}


.menu {
    display: none;
}