@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Bungee+Shade&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Trispace', sans-serif;
    /*  
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Trispace', sans-serif;
    */

}


.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(83, 67, 67);
    color: aliceblue;
    z-index: 2;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 50px;
    height: 50px;
    background: url(./images/menu-icon.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: pointer;

}

.toggle.active {
    background: url(./images/cross.png);
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: center;   
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.menu {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(238, 224, 139,);
    mix-blend-mode: overlay;
}



.text {
    position: relative;
    z-index: 10;
}
.text strong {
    color: white;
    display: contents;
    font-size: 34px;
    display: inline-block

}

.text h2 {
    font-style: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;

}


.text h3 {
    font-style: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    
}

.text p {
    font-style: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: rgb(241, 228, 90,0.3);
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #1111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;

}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.social li {
    list-style: none;
}
.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(.8);
    transition: 0.5s;
}
.social li a :hover {

}

@media (max-width: 991px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }
    
    .text h2 {
        font-style: 3em;

    }
    
    .text h3 {
        font-style: 2em;

    }

}