@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Bungee+Shade&family=Source+Sans+Pro&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    /*  
    font-family: 'Bungee Shade', cursive;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Bungee Shade', cursive;
    */

}

header img{
    cursor: pointer;
}


.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(83, 67, 67);
    color: aliceblue;
    z-index: 2;
}

.showcase header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    text-transform: uppercase;
    cursor: pointer;
}

.toogle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(./images/Menuicon-2.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;

}


.menu{
    display: none;
}